/* ////////////////////////// */
/*////////////////////////////////// Global */
/* ////////////////////////// */

*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: 'Rubik', sans-serif;
}

body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #273449;
}

html, body {
	height: 100%;
}

li {
	list-style-type: none;
}

header,
#alert,
button {
	background-color: #415677;
	color: white;
}

button {
	border-radius: 5px;
	font-size: .8em;
}

.col-2 {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

/* ////////////////////////// */
/*////////////////////////////////// Header */
/* ////////////////////////// */

header {
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	
}

.logo {
	font-size: 24px;
	float: left;
	margin: 20px 0 0 15px;
}

#userPanel {
	font-size: 18px;
	float: right;
	
}

#bell {
	width: 30px;
	height: 30px;
}

header img {
	border-radius: 50%;
	width: 40px;
}

#userName {
	display: inline;
}

/* ////////////////////////// */
/* /////////////////////////////////// Nav */
/* ////////////////////////// */

nav {
	float: left;
	width: 10%;
	
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li {
	padding: 10px 30%;
}

nav img {
	min-width: 20px;
	max-width: 30px;
	
}

/* ////////////////////////// */
/*//////////////////////////////// Subheader */
/* ////////////////////////// */

#subheader {
	background-color: #eee;
/*	overflow: hidden;*/
	border-bottom: 1px solid #ddd;
	max-height: 180px;
	position: relative;
}

#subheader h1{
	background-color: white;
	display: inline;
	font-size: 1.2em;
	/*float: left;*/
	line-height: 64px;
	border-right: 1px solid #ddd;
	position: absolute;
	top: -13px;
	left: 0;
}

#subheader input{
/*	float: right;*/
	
}

/* Main */

main {	
	float: right;
	background: white;
	width: 90%;
}

main h2 {
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 10px;
}

/* ////////////////////////// */
/*//////////////////////////////////// Alert */
/* ////////////////////////// */

#alert,
.noAlerts {
	border-radius: 15px;
	margin: 10px 20px;
	padding: 10px;
	overflow: hidden;
}

#alert button {
	text-decoration: none;
	color: white;
	border: none;
	background-color: red;
	float: right;
	vertical-align: middle;
}

#alert span,
.noAlerts span {
	max-width: 90%;
	float: left;
}

.noAlerts {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	
}
/* ////////////////////////// */
/*////////////////////////////// Charts */
/* ////////////////////////// */

canvas {
	padding: 0 10px;
}

/* ////////////////////////// */
/*////////////////////////////// Social Widgets */
/* ////////////////////////// */

#social-container img {
	width: 50px;
}

.socialStats {
	border: 1px solid #333;
	display: inline-block;
	padding: 20px;
	width: 30%;
	margin: 1%;
	height: ;

}

.socialStats span{
	font-size: 2em;
}

/* ////////////////////////// */
/*//////////////////// Member Activity Widgets */
/* ////////////////////////// */

#newMembers img,
#recentActivity img {
	border-radius: 50%;
	width: 30px;
}

.activity-title,
.activity-subtitle {
	font-size: .9em;
	display: block;
}

.activity-subtitle,
.activity-date {
	font-size: .8em;
}

#newMembers a {
	color: #415677;
	text-decoration: none;
	top: 0;
}

.nameEmail,
.activityTime {
	display: inline;
	position: absolute;
}

.activity-date,
.user-activity img:nth-of-type(2) {
	float: right;
}

/* ////////////////////////// */
/*//////////////////////////////// Clearfix */
/* ////////////////////////// */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ////////////////////////// */
/*//////////////////////////////// Media Q */
/* ////////////////////////// */

@media screen and (min-width:480px) {
	.col-2 > div{
		width: 49%;
		background: yellow;
		display: inline-block;
	}
}

@media scree and (mind-width:1024px) {
	
}