header {
	overflow: hidden;
	padding-top: 2px;
}

.header-list {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.logo {
	font-size: 18px;
	float: left;
	margin-right: auto;
	margin-left: 15px;
	
	@media #{$brk-tablet}{
		font-size: 24px;
	}
}

#notification-bell {
	width: 30px;
}

.userAvatar {
	border-left: 1px solid #bbb;
	padding-left: 15px;
}
.userAvatar img {
	border-radius: 50%;
	width: 30px;
}

.userName {
	padding-right: 10px;
	display: none;
	
	@media #{$brk-tablet}{
		display: initial;
	}
}

.header-list :not(:first-child) {
	margin-right: 10px;
}