#mainWrap {
	padding: 0 10px;
	max-width: 850px;
	margin: 0 auto;
}

main {	
	background: white;
	
 @media#{$brk-tablet}{
	float: right;
	width: calc(100% - 80px);
	}
}

main h2 {
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 10px;
}

