@media #{$brk-tablet} {

	.col-2-btm {
		border-bottom: 1px solid #ddd;
	}
	
/*	.col-2-top {
		display: inline;
	}*/
	
	
	.col-2 > div{
		width: 49%;
		display: inline-block;
	}
	
	.midChart {
		padding-top: 25px;	
	}
}