// Traffic

#traffic {
	@extend %brdr-btm;
}


.traffic-list li:first-of-type{
	float: left;
	margin-right: auto;
}

.traffic-list li:not(:first-child) {
	background: $color-prim;
	border-radius: 5px;
	color: white;
	float: right;
	margin-left: 5px;
	font-size: .8em;
	font-weight: bold;
	letter-spacing: .8px;
}

.traffic-list a {
	display: inline-block;	
	padding: 5px;
}

.selected {
	background-color: $accent !important;
}

//Daily Traffic

.midCharts {
	@media #{$brk-tablet} {
		
	}
}

#dailyTraffic {
	@extend %brdr-btm;
	
	@media #{$brk-tablet} {
		border-bottom: none;
		border-right: 1px solid #ddd;
	}
}

//Mobile Users
#mobileUsers {

	@media #{$brk-tablet} {
		padding-left: 15px;	
	}
	
}

#mobileUsersChart {
	width: 50px;
}
