#messageUser {
	padding: 0 10px 15px;
	border-bottom: 1px solid #ddd;
	
	@media #{$brk-tablet} {
		border-right: 1px solid #ddd;
	}
	
}

#messageUser h2 {
	padding: 0;
}

#messageUser input,
#messageUser textarea {
	border: 1px solid #bbb;
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
}

#messageUser textarea {
	height: 5rem;
}

#messageUser button {
	width: 100%;
	border: none;
	padding: 5px;
}