#newMembers {
	padding: 0 10px;
}

#newMembers img,
#recentActivity img {
	border-radius: 50%;
	width: 30px;
}

.activity-title,
.activity-subtitle {
	font-size: .9em;
	display: block;
}

.activity-subtitle,
.activity-date {
	font-size: .8em;
}

#newMembers a {
	color: #415677;
	text-decoration: none;
	top: 0;
}

.nameEmail,
.activityTime {
	display: inline;
	position: absolute;
}

.activity-date,
.user-activity img:nth-of-type(2) {
	float: right;
}