#newMembers a {
	color: #415677;
	text-decoration: none;
	top: 0;
}

#newMembers {
	@extend %brdr-btm;
	
	@media #{$brk-tablet} {
		border-right: 1px solid #ddd;
	}
}

#recentActivity {
	@extend %brdr-btm;
	
}

#newMembers img,
#recentActivity img {
	@extend %roundy;
	width: 30px;
}

.activity-item {
	font-size: .9em;
}

.activity-subtitle,
.activity-date {
	display: block;
	font-size: .8em;
}

.nameEmail,
.activityTime {
	display: inline;
	position: absolute;
}

.activity-date,
activity-item img:nth-of-type(2) {
	float: right;
}