*{
	box-sizing: border-box;
}

header,
#alert,
button {
	background-color: $color-prim;
	color: white;
}

input, textarea, select {
	color: #777;
}

body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-sec;
}


h2 {
	padding-left: 0 !important;
	font-size: 18px;
	text-transform: uppercase;
}

html, body {
	height: 100%;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}