*{
	box-sizing: border-box;
}

header,
#alert,
button {
	background-color: $color-prim;
	color: white;
}

body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-sec;
}

html, body {
	height: 100%;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.col-2 {
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}